.boderClass {
    border-style: solid;
}
.background-check{
    background-color: red;
}

.main-contrainer{
    margin: 0 auto 0 auto;
    width: 1000px;
    display: flex;
    justify-content: center;

}